.DS_Store
*.aux
*.bcf
*.log
*.lof
*.toc
*.out
*.synctex.gz
*.tex.bak
*.bib.bak
.ipynb_checkpoints
*.bbl
*.blg
*.fdb_latexmk
*.fls
**/__pycache__/**
/output_files/**/old/**
/vor_hackathon/
/before_arxiv/
